img {
    margin-top: 10px;
}

body {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (min-width: 1500px) {
    .container {
        box-shadow: 5px 5px 5px 5px #888;
        padding-bottom: 1em;
    }
}

h2 {
    background-color: #888;
    padding-bottom: 0.2em;
    padding-left: 0.1em;
}

.company {
    padding-left: 2em;
}

.project {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 1em;
    padding-left: 1em;
    margin-left: -1em;
    margin-bottom: 1em;
}